<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <!--railsのデフォルトの設定を予め退避しておく-->
    <%= render 'layouts/rails_default'%>
  </head>

  <body>
    <!--ヘッダーのパーシャル-->
    <%= render'layouts/header'%>
    <div class="container">
      <!--エラーメッセージ-->
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <!--フッターのパーシャル-->
      <%= render'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
