<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <!--railsのデフォルトの設定を予め退避しておく-->
    <%= render 'layouts/rails_default'%>
  </head>

  <body>
    <!--ヘッダーのパーシャル-->
    <%= render'layouts/header'%>
    <div class="container">
      <%= yield %>
      <!--フッターのパーシャル-->
      <%= render'layouts/footer'%>
    </div>
  </body>
</html>
